@font-face {
    font-family: 'CenturyGothic';
    src: url('https://cdn.staticaly.com/gh/yourshansel/portfolio/6526c07b/src/fonts/CenturyGothic.ttf');
}

@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url('https://cdn.staticaly.com/gh/yourshansel/portfolio/6526c07b/src/fonts/GOTHICB.TTF');
}
